
.footer-logo-area {
	border-top: 1px solid #ddd;
	padding: 20px 0;
	font-size: 15px;
	p{
		margin: 0.6667em 0;
	}

}

.footer-logo-area__logo{
	max-height: 160px;
	display: block;
	margin: auto;
}


.nav__menu-text{
	font-size: rem-calc(14);
}
